<mat-card>
  <mat-card-title>Delete product</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Name"
        [value]="product.name"
        name="name"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Price (R$)"
        [value]="product.price"
        name="price"
        disabled
      />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="deleteProduct()" color="warn">
    Delete
  </button>

  <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-card>
